{% extends "shared/base.html" %}

{% block title %}
    ویرایش اطلاعات
{% endblock %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>تغییر کلمه عبور</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:dashboard' %}">داشبورد<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:change_password' %}">تغییر کلمه عبور</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include "components/menu.html" %}
            </div>
            <div class="col-md-8">
                <div class="form-control login-form" dir="rtl">
                    <div class="text-center">
                        <h3>تغییر کلمه عبور</h3>
                    </div>
                    <form class="login_form text-right" method="post" enctype="multipart/form-data" id="contactForm"
                        novalidate="novalidate">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="col-md-12 form-group">
                            {{ field.errors }}
                            {{ field.label }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class=" col-md-6 form-group container">
                            <button type="submit" value="submit" class="primary-btn">ویرایش</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}