{% extends "shared/base.html" %}

{% block title %}
    جزییات لیست
{% endblock %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1 id="page-title">{{list.title}}</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:dashboard' %}">داشبورد<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:lists' %}">لیست ها<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:list_detail' list_title=list.title %}" id="page-url">{{list.title | truncatewords:5}}</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-categories" id="category-area">
				{% include "components/menu.html" %}
			</div>
		</div>
		<!-- Start Product Area -->
		<div class="col-xl-9 col-lg-8 col-md-7">
			<div class="mb-2 alert alert-dark">
				<h5 class="text-right mt-1" dir="rtl">
					توضیحات این لیست:
				</h5>
				<h6 class="text-right mt-2 mx-5" id="list-description" dir="auto">
					{% if list.description %}
						{{ list.description|linebreaks }}
					{% else %}
						<div class="text-muted">
							هنوز توضیحاتی برای این لیست نوشته نشده است.
						</div>
					{% endif %}
				</h6>

				{% if list.title != "لیست آرزو" %}
					<!-- Button trigger modal of list creation -->
					<button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#edit-list-form">
						ویرایش لیست
					</button>
				{% endif %}
					
				<!-- Modal of list creation form -->
				<div class="modal fade" dir="rtl" id="edit-list-form" tabindex="-1" role="dialog" aria-labelledby="edit-list-form-title" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="edit-list-form-title">ویرایش لیست</h5>
							</div>
							<div class="modal-body">
								<div id="edit-list-form-area">
									{% include "components/list_creation_form.html" with form=edit_list_form %}
								</div>
								<div class="pull-right">
									<button class="btn btn-primary" onclick="editList({{list.id}})">ویرایش</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Start Filter Bar -->
			<div class="filter-bar d-flex flex-wrap align-items-center">
				<div class="sorting mr-auto" id="paginate">
					{% include "components/paginate.html" with extra_data="list_title: '{{list.title}}'" products_filter_url="/user/lists/filter" %}
				</div>
				<div class="pagination">
					{% include "components/paging.html" with extra_data="list_title: '{{list.title}}'" products_filter_url="/user/lists/filter" %}
				</div>
			</div>
			<!-- End Filter Bar -->

			<!-- Start Best Seller -->
			<section class="lattest-product-area pb-40 category-list" id="products-area">
				{% include "includes/products_partial.html" with products=page_obj.object_list list_id=list.id %}
			</section>
			<!-- End Best Seller -->

			<!-- Start Filter Bar -->
			<div class="filter-bar d-flex flex-wrap align-items-center">
				<div class="sorting mr-auto" id="paginate">
					{% include "components/paginate.html" with extra_data="list_title: '{{list.title}}'" products_filter_url="/user/lists/filter" %}
				</div>

				<div class="pagination">
					{% include "components/paging.html" with extra_data="list_title: '{{list.title}}'" products_filter_url="/user/lists/filter" %}
				</div>
			</div>
			<!-- End Filter Bar -->
		</div>
		<!-- End Product Area -->
	</div>
</div>
<br/>
{% endblock %}