{% extends "shared/base.html" %}

{% block title %}
    جزییات لیست
{% endblock %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>{{list_title}}</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:dashboard' %}">داشبورد<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:list_detail' list_title=list_title %}">{{list_title | truncatewords:5}}</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-categories" id="category-area">
				{% include "components/menu.html" %}
			</div>
		</div>
		<!-- Start Product Area -->
		<div class="col-xl-9 col-lg-8 col-md-7">
			<!-- Start Filter Bar -->
			<div class="filter-bar d-flex flex-wrap align-items-center">
				<div class="sorting mr-auto" id="paginate">
					{% include "components/paginate.html" with extra_data="list_title: '{{list_title}}'" products_filter_url="/user/lists/filter" %}
				</div>
				<div class="pagination">
					{% include "components/paging.html" with extra_data="list_title: '{{list_title}}'" products_filter_url="/user/lists/filter" %}
				</div>
			</div>
			<!-- End Filter Bar -->

			<!-- Start Best Seller -->
			<section class="lattest-product-area pb-40 category-list" id="products-area">
				{% include "includes/products_partial.html" with products=page_obj.object_list %}
			</section>
			<!-- End Best Seller -->

			<!-- Start Filter Bar -->
			<div class="filter-bar d-flex flex-wrap align-items-center">
				<div class="sorting mr-auto" id="paginate">
					{% include "components/paginate.html" with extra_data="list_title: '{{list_title}}'" products_filter_url="/user/lists/filter" %}
				</div>

				<div class="pagination">
					{% include "components/paging.html" with extra_data="list_title: '{{list_title}}'" products_filter_url="/user/lists/filter" %}
				</div>
			</div>
			<!-- End Filter Bar -->
		</div>
		<!-- End Product Area -->
	</div>
</div>
<br/>
{% endblock %}