{% extends "shared/base.html" %}

{% block title %}
    لیست ها
{% endblock %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>لیست ها</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:dashboard' %}">داشبورد<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'user_panel:lists' %}">لیست ها</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include "components/menu.html" %}
            </div>
            <div class="col-md-8">
                <div class="mb-2 alert alert-dark">
                    <h5 class="text-right mt-1" dir="rtl">
                        اینجا می توانید لیست های مختلفی از محصولات برای خودتان ایجاد کنید.
                    </h5>
                    
                    <!-- Button trigger modal of list creation -->
                    <button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#list-creation-form">
                        ایجاد لیست
                    </button>
                    
                    <!-- Modal of list creation form -->
                    <div class="modal fade" dir="rtl" id="list-creation-form" tabindex="-1" role="dialog" aria-labelledby="list-creation-form-title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="list-creation-form-title">ایجاد لیست</h5>
                                </div>
                                <div class="modal-body">
                                    <div id="list-creation-form-area">
                                        {% include "components/list_creation_form.html" with form=list_creation_form %}
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" onclick="createList()">ایجاد</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user-lists">
                    {% include "includes/lists_partial.html" %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}