<div class="row">
    <!-- single product -->
    {% for product in products %}
        <div class="{% if class %}{{class}}{% else %}col-lg-4 col-md-6{% endif %}">
            <div class="single-product">
                <a href="{{ product.get_absolute_url }}" class="social-info">
                    <img class="img-fluid" src="{{ product.image.url }}">
                </a>
                <div class="product-details">
                    <a href="{{ product.get_absolute_url }}" class="social-info">
                        <h6>
                            {{ product.title | truncatewords:8 }}
                        </h6>
                    </a>
                    <div class="price">
                        {% include "includes/price_off.html" with product=product %}
                        {% if not product.is_enable %}(غیر فعال){% endif %}
                    </div>
                    <div class="prd-bottom">
                        {% with product_colors=product.in_stock_color_variants %}
                            <a class="social-info" 
                                onclick="
                                {% if product_colors.first.color_name == '_' %}
                                    addProductToCart({{product_colors.first.id}})
                                {% else %}
                                    addProductToCartAlert({
                                        {% for product_color in product_colors %}
                                            {{product_color.id}}: '{{product_color.color_name}}',
                                        {% endfor %}
                                    })
                                {% endif %}
                            ">
                                <span class="ti-bag"></span>
                                <p class="hover-text">اضافه به سبد</p>
                            </a>
                        {% endwith %}
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">لیست آرزو</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-sync"></span>
                            <p class="hover-text">مقایسه</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="rounded-medium py-4  px-5">
            <h4>
                <div class="alert alert-danger" role="alert">
                    محصولی با این مشخصات پیدا نشد
                </div>
            </h4>
        </div>
    {% endfor %}
</div>