<div class="row">
    <!-- single product -->
    {% for product in products %}
        <div class="{% if class %}{{class}}{% else %}col-lg-4 col-md-6{% endif %}" id="single-product-{{product.id}}">
            <div class="single-product">
                <a href="{{ product.get_absolute_url }}" class="social-info">
                    <img class="img-fluid" src="{{ product.image.url }}">
                </a>
                <div class="product-details">
                    <a href="{{ product.get_absolute_url }}" class="social-info">
                        <h6>
                            {{ product.title | truncatewords:8 }}
                        </h6>
                    </a>
                    <div class="price">
                        {% include "includes/price_off.html" with product=product %}
                        {% if not product.is_enable %}(غیر فعال){% endif %}
                    </div>
                    <div class="prd-bottom">
                        {% with product_colors=product.in_stock_color_variants %}
                            <a class="social-info" 
                                onclick="
                                {% if request.user.is_authenticated %}
                                    {% if product_colors.first.color_name == '_' %}
                                        addProductToCart({{product_colors.first.id}}, {{product.id}})
                                    {% else %}
                                        addProductToCartAlert({
                                            {% for product_color in product_colors %}
                                                {{product_color.id}}: '{{product_color.color_name}}',
                                            {% endfor %}
                                        }, {{product.id}})
                                    {% endif %}
                                {% else %}
                                    loginRequiredAlert('{% url "account:login" %}')
                                {% endif %}">
                                <span class="ti-bag"></span>
                                <p class="hover-text">اضافه به سبد</p>
                            </a>
                        {% endwith %}
                        <a class="social-info cursor-pointer"
                            onclick="
                                {% if request.user.is_authenticated %}
                                    likeProduct({{product.id}})
                                {% else %}
                                    loginRequiredAlert('{% url "account:login" %}')
                                {% endif %}">
                            <div id="product-like-icon-{{product.id}}">
                                {% if request.user in product.liked_by.all %}
                                    <span class="lnr">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15.5" height="15.5" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16" style="vertical-align: 0;">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                        </svg>
                                    </span>
                                {% else %}
                                    <span class="lnr lnr-heart">
                                    </span>
                                {% endif %}
                            </div>
                            <p class="hover-text">لیست آرزو</p>
                        </a>
                        <a class="social-info"
                            onclick="
                                {% if request.user.is_authenticated %}
                                    addProductToListAlert({
                                        {% for list in request.user.product_lists.all %}
                                            {{ list.id }}: '{{ list.title }}',
                                        {% endfor %} }, {{product.id}}
                                        )
                                {% else %}
                                    loginRequiredAlert('{% url "account:login" %}')
                                {% endif %}
                            ">
                            <span class="ti-list">
                            </span>
                            <p class="hover-text">لیست‌های من</p>
                        </a>
                        {% if request.resolver_match.view_name == 'user_panel:list_detail' and request.resolver_match.kwargs.list_title != 'لیست آرزو'%}
                            <a class="social-info" onclick="removeProductFromList({{list_id}}, {{product.id}})">
                                <span class="ti-trash"></span>
                                <p class="hover-text">حذف از لیست</p>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="rounded-medium py-4  px-5">
            <h4>
                <div class="alert alert-danger" role="alert">
                    محصولی پیدا نشد
                </div>
            </h4>
        </div>
    {% endfor %}
</div>