{% extends "shared/base.html" %}

{% load static poll_extras jformat %}

{% block title %}جزئیات محصول{% endblock %}


{% block content %}

{% if messages %}
    <script type="text/javascript">
        {% for message in messages %}
            showSuccessAlert('{{message}}')
        {% endfor %}
    </script>
{% endif %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>جزئیات محصول</h1>
                <nav class="d-flex align-items-center">
					<a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
					<a href="{% url 'product:list' %}">محصولات<span class="lnr lnr-arrow-left"></span></a>
					<a href="{{ product.get_absolute_url }}">{{ product.title | truncatewords:5 }}</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ product.image.url }}" alt="">
                    </div>
                    {% for gallery in product.images.all %}
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{ gallery.image.url }}" alt="">
                        </div>
                    {% empty %}
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{ product.image.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ product.title }}</h3>
                    {% with colors=product.in_stock_color_variants %}
                    <div id="product-price-area">
                        <script type = "text/javascript">setProductPrice({% if colors.first.price %}{{colors.first.price}}{% else %}{{product.price}}{% endif %}, {{colors.first.final_price}})</script>
                    </div>
                    <ul class="list">
                        {% with category=product.category %}
                            {% if category %}
                                <li><a class="active" href="{% url "product:list" %}?category={{ category.slug }}"><span>دسته بندی</span> : {{ category.title }}</a></li>
                            {% endif %}
                        {% endwith %}
                        
                        <li>
                            <a id="in-stock">
                                <span>موجودی</span> : <script type = "text/javascript">setStockMessage({{colors.first.stock_count}})</script> 
                            </a>
                        </li>
                    </ul>
                    <p>{{ product.short_description }}</p>
                    {% if colors.first.color_name != '_' and product.stock_count %}
                        <h6 id="color-name">رنگ: {{ colors.first.color_name }}</h6>
                        <div class="color-icon-area">
                            {% for color in colors %}
                                {% if color.stock_count %}
                                    {% with color_price=color.price %}
                                    <a class="color-icon" id="color-icon-{{color.color_hex_code}}" title="{{color.color_name}}"
                                      onclick="setProductColor('color-icon-{{color.color_hex_code}}', '{{color.color_name}}', {{color.stock_count}}, {% if color_price %}{{color_price}}{% else %}{{product.price}}{% endif %}, {{color.final_price}})"
                                      style="
                                        background: {{ color.color_hex_code }};
                                        {% if forloop.first %}
                                            border-color: blue
                                        {% endif %}
                                        "></a>
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}

                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" href="#">افزودن به سبد خرید</a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" 
                    href="#home" role="tab" aria-controls="home" aria-selected="true">توضیحات کامل
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">مشخصات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false">نظرها</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>{{ product.description }}</p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {% for key, value in product.specification.items %}
                                <tr>
                                    <td>
                                        <h5>{{ value }}</h5>
                                    </td>
                                    <td>
                                        <h5>{{ key }}</h5>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            {% for comment in comments %}
                                <div class="review_item">
                                    <div class="media">
                                        {% with user=comment.user %}
                                        <div class="d-flex">
                                            <img src="{{ user.avatar.url }}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>{{ user.username }}</h4>
                                            <h5>{{ comment.created_time | jformat }}</h5>
                                            <a class="reply_btn" onclick="replyComment({{comment.id}}, '{{user.username}}')">پاسخ</a>
                                        </div>
                                        {% endwith %}
                                    </div>
                                    <p>{{ comment.text }}</p>
                                </div>
                                {% for sub_comment in  comment.childs.all %}
                                    <div class="review_item reply">
                                        {% with user=sub_comment.user %}
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{{ user.avatar.url }}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>{{ user.username }}</h4>
                                                <h5>{{ sub_comment.created_time | jformat }}</h5>
                                            </div>
                                        </div>
                                        {% endwith %}
                                        <p>{{ sub_comment.text }}</p>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>

                    <div dir="rtl" class="col-lg-6">
                        <div class="review_box">
                            <h4>ارسال نظر</h4>
                            {% if request.user.is_authenticated %}
                                <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form }}
                                        </div>
                                    </div>
                                    <input type="hidden" value="" name="parent_id" id="parentId">

                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="btn primary-btn">ثبت نظر</button>
                                    </div>
                                </form>
                            {% else %}
                                <h5>
                                    <div class="text-center alert alert-secondary" role="alert">
                                        برای ثبت نظر ابتدا باید <a href="{% url 'account:login' %}">وارد</a> شوید
                                    <div>
                                </5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r2.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r3.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r5.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r7.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r9.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r10.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r11.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->

{% endblock %}
