{% load static %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3" style="text-align: right; width: 20rem;">
            {% static 'img/user-panel/liked-products.jpg' as default_img %}
            <img src="{{request.user.liked_products.first.image.url|default:default_img}}" class="card-img-top" with="350" height="350">
            <div class="card-body" dir="rtl">
                <h5 class="card-title text-danger">لیست آرزو</h5>
                <p class="card-text mb-1">محصولاتی را که پسندیده اید می توانید در این لیست مشاهده کنید.</p>
                <a href="{% url 'user_panel:list_detail' list_title='لیست آرزو' %}" class="btn btn-primary">مشاهده</a>
            </div>
        </div>
    </div>
    {% for list in lists %}
        <div class="col-md-6" id="list-area-{{list.id}}">
            <div class="card mb-3" style="text-align: right; width: 20rem;">
                <img src="{{list.products.first.image.url}}" class="card-img-top" with="350" height="350">
                <div class="card-body" dir="rtl">
                    <h5 class="card-title">{{ list.title }}</h5>
                    <p class="card-text mb-2">{{ list.description | truncatewords:15}}</p>
                    <a href="{% url 'user_panel:list_detail' list_title=list.title %}">
                        <button class="btn btn-primary">
                            مشاهده و ویرایش
                        </button>
                    </a>
                    <button onclick="removeList({{list.id}})" class="btn btn-danger">حذف</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
