{% extends "shared/base.html" %}


{% load static %}

{% block title %}ثبت نام{% endblock %}


{% block content %}

{% if create_account_alert %}
    <script type="text/javascript">
        window.onload = function(){
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "حساب شما با موفقیت ایجاد شد",
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                Swal.fire({
                    title: "فعال سازی حسابتان",
                    icon: "warning",
                    text: "برای فعال سازی حسابتان ایمیلی حاوی لینک فعال سازی برای شما ارسال شد در صورت عدم دریافت ایمیل از قسمت فراموشی کلمه عبور اقدام کنید"
                })
            })
        };
    </script>
{% endif %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>ثبت نام</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                    <a href="{% url 'account:register' %}">ثبت نام</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="container col-md-8">
                <div class="login_form_inner reg_form">
                    <div class="builling-title">
                        <h3>ثبت نام</h3>
                    </div>
                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                {% with email=form.email %}
                                {{ email.errors }}
                                <input type="email" name="email" class="form-control" id="id_email" dir="rtl"
                                 value="{{email.value|default_if_none:''}}" placeholder="ایمیل" required=""
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل'" maxlength="{{email.field.max_length}}">
                                {% endwith %}
                            </div>
                        </div>
                    
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                {% with password=form.password %}
                                {{ password.errors }}
                                <input type="password" name="password" class="form-control" id="id_password"
                                 dir="rtl" value="{{password.value|default_if_none:''}}" placeholder="گذرواژه" maxlength="{{password.field.max_length}}" required=""
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'گذرواژه'">
                                <div class="toggle-password-icon">
                                    <svg id="eyeButton1" onclick="togglePasswordVisibility('id_password', 'eyeButton1')" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                {% endwith %}
                            </div>
                        </div>
                    
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                {% with confirm_password=form.confirm_password %}
                                {{ confirm_password.errors }}
                                <input type="password" name="confirm_password" class="form-control" dir="rtl"
                                 id="id_confirm_password" value="{{confirm_password.value|default_if_none:''}}" maxlength="{{confirm_password.field.max_length}}" required=""
                                 placeholder="تکرار گذرواژه" onfocus="this.placeholder = ''" onblur="this.placeholder = 'تکرار گذرواژه'">
                                <div class="toggle-password-icon">
                                    <svg id="eyeButton2" onclick="togglePasswordVisibility('id_confirm_password', 'eyeButton2')" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </div>
                                {% endwith %}
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">ساخت حساب</button>
                            <a href="{% url 'account:login' %}">حساب دارید؟</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


{% endblock %}