{% extends "shared/base.html" %}


{% load static %}

{% block title %}تغییر کلمه عبور{% endblock %}


{% block content %}

{% if password_changed_alert %}
    <script type="text/javascript">
        window.onload = function(){
            Swal.fire({
                title: "اعلان",
                icon: "success",
                text: "گزرواژه شما با موفقیت تغییر یافت",
                showDenyButton: true,
                confirmButtonText: "ورود به سایت",
                denyButtonText: "باشه",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.assign("/login")
                }
            })
        };
    </script>
{% endif %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>تغییر کلمه عبور</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home:index' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                    <a href="">تغییر کلمه عبور</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="container col-md-8">
                <div class="login_form_inner reg_form">
                    <div class="builling-title">
                        <h3>تغییر کلمه عبور</h3>
                    </div>
                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-12 form-group">
                                    {{ field.errors }}
                                    {{ field }}
                            </div>
                        {% endfor %}
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">تایید</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


{% endblock %}