<div class="head">Price</div>
<div class="price-range-area">
    <div id="price-range" value="valuetest"></div>
    <div class="value-wrapper d-flex">
        <div class="price" id="price" 
            start-price ="{{ start_price }}" end-price="{{ end_price }}" 
            db-max-price="{{ db_max_price }}">Price:
        </div>
        <span>$</span>
        <div id="lower-value"></div>
        <div class="to">to</div>
        <span>$</span>
        <div id="upper-value"></div>
    </div>
</div>