{% load static %}

<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url "home:index" %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item {% if request.resolver_match.url_name == "index" %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:index' %}">خانه</a>
                        </li>
                        <li class="nav-item submenu dropdown {% if request.resolver_match.app_name == "product" %}active{% endif %}">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">خرید</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="{% url 'product:list' %}">محصولات</a></li>
                                <li class="nav-item"><a class="nav-link" href="checkout.html">پرداخت</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown {% if request.resolver_match.app_name == "account" %}active{% endif %}">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">صفحات</a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" onclick="logoutAlert('{% url 'account:logout' %}')">خروج</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">ورود</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}">ثبت نام</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link" href="tracking.html">پیگیری</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">وبلاگ</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">درباره ما</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a href="/admin">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                        </svg>
                                    </span>
                                <a>
                            </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url "user_panel:dashboard" %}">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'user_panel:cart' %}" class="cart">
                                    <span class="ti-bag"></span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box" dir="rtl">
        <div class="container">
            <form class="d-flex justify-content-between" action="{% url 'product:list' %}">
                <input type="text" class="form-control" id="search_input" name="q" value="{{request.GET.q}}" placeholder="اینجا سرچ کنید">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>