{% load render_partial %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}shop project{% endblock %}</title>
	<!--
		CSS
		=============================================
	-->
	{% include "references/header.html" %}

</head>

<body>
	
	{% render_partial 'home.views.HeaderComponentView' %}

	{% block content %}{% endblock %}

	{% render_partial 'home.views.FooterComponentView' %}

	{% include "references/footer.html" %}
	
</body>

</html>